---
interface Props { bannerId: string; }
const { bannerId } = Astro.props;
---
<div class="fanza-banner-wrapper">
  <ins class="widget-banner"></ins>
  <script
    class="widget-banner-script"
    src={`https://widget-view.dmm.co.jp/js/banner_placement.js?affiliate_id=yukine0423-002&banner_id=${bannerId}`}
  ></script>
</div>

<style>
  .fanza-banner-wrapper {
    text-align: center;
    margin: 1.5rem auto 2rem;
    min-height: 250px;
  }
</style>
